<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Wilano{% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.0.2a/resources/css/ext-all-gray.css">
        <script type="text/javascript" charset="utf-8" src="/bundles/fdtadmin/js/ext-4.0.2a/ext-all-debug.js"></script>
        <script type="text/javascript" charset="utf-8" src="/bundles/fdtadmin/js/Admin/appLoader.js"></script>

                      
    </head>
    <body>
    </body>
</html>
